@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body{
    background-color: rgb(19, 41, 19);
}

header {
    text-align: center;
    margin: 20% 0px 10px 0px;
}

header h1{
    color: white;
}

#content {
    border-radius: 10px;
    margin: auto;
    display: flex;
    width: 75vw;
    height: 30vh;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: lightgreen;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.39);
}

div form p {
    margin: auto;
    margin: 0px 0px 15px 10px;
}

#res {
    margin: auto;
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-family: serif;

    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: lightgreen;
}